body {
	background-color: #336;
}

#main{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}

#top img {
	position: absolute;
}

#top {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 200px;
	overflow: hidden;
}

#header {
    position: absolute;
    margin: 0;
	margin-top: 72px;
	margin-left: 48px;
    padding: 0;
    overflow: hidden;
    background-color: #b60;
	width: 752px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navigation li {
    float: left;
}

#header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

#account li {
    float: right;
}

#pagetitle{
	border-bottom: 2px solid #0000FF;
	font-size: 24px;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 2px;
	text-align: left;
	background-color: #DDDDFF;
	color: #000099;
}

#body {
	background-color: #FFF;
	width: 742px;
	float: right;
	position: relative;
	top: -92px;
	font-size: 12px;
	border: 5px solid #b60;
	border-top: none;
}

#content {
	padding: 10px;
	background-color: #FFEDC6;
	border: 1px solid black;
}

li a:hover {
    background-color: #e70;
}

.formText {
	display: inline
	font-family: sans-serif;
	font-size: 12px;
	box-shadow: none;
	border-radius: none;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

.formText:focus{
    border: solid 1px #7070e0;
	box-shadow: 0 0 5px 1px #9696f6;
}

.form {
	width: 400px;
	background-color: #FFF6E0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 0px;
	border-radius: 5px;
	border: 2px solid #A09060;
	margin-bottom: 12px;
}

.formlabel {
	display: block;
	float: left;
	width: calc(35% - 10px);
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.smallforminput{
	display: block;
	float: left;
	width: 20%;
	text-align: left;
}

.smallformlabel {
	display: block;
	float: left;
	width: calc(30% - 10px);
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.forminput{
	display: block;
	float: left;
	width: 65%;
	text-align: left;
}

.formsubmit{
	display: block;
	width: 100%;
	text-align: right;
	margin-bottom: 0px;
}

.forminput input {
	display: block;
	margin-bottom: 12px;
	float: left;
	margin-right: 6px;
}

.forminput select {
	display: block;
	margin-bottom: 12px;
	float: left;
	margin-right: 6px;
}

.forminfo span{
	display: block;
	position: relative;
	top: -12px;
	margin-bottom: 0px;
	float: left;
	margin-right: 6px;
	border: none;
}

.labelerror {
	display: none;
	float: left;
	width: calc(35% - 10px);
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.formerror span{
	display: none;
	position: relative;
	top: -12px;
	margin-bottom: 0px;
	float: left;
	margin-right: 6px;
	border: none;
}

.formerror {
	position: relative;
	top: -12px;
	color: red;
	font-style: italic;
	border: none;
	pointer-events: none;
}

.selected {
    background-color: #0000A0;
    color: #FFF;
}

.phpdata {
	display: none;
}

.form table {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;  
	cursor: default;
	margin: 0;
	min-width: 0;
	border: solid 1px #dcdcdc;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #0000FF;
	background-color: #DDDDFF;
	border-spacing: 0px;
	min-width: 400px;
}

tr:nth-child(odd) td {
	background-color: #AAAAFF;
}

tr:nth-child(even) td {
	background-color: #DDDDFF;
}

td {
	padding-left: 4px;
	padding-right: 4px;
}

tr {
	font-size: 12px;
}

th {
	background-color: #DDDDFF;
	border-bottom: 2px solid #0000FF;
	font-size: 18px;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 2px;
	text-align: center;
	background-color: #CCCCFF;
	color: #000066;
}

input[type="submit"] {
	display: inline;
    font-family: sans-serif;
    background-color: #f80;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	height: 24px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #b60;
	transition: box-shadow 0.3s;
	text-align: right;
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
}

input[type="submit"]:hover {
	box-shadow: 0 0 1px 1px #ff8800;
}